# Environment
VITE_API_URL=http://localhost:5000/api
VITE_UPLOADS_URL=http://localhost:5000
VITE_SITE_URL=http://localhost:3000

# Contentful Configuration
# Replace these with your actual Space ID and Content Delivery API Access Token
VITE_CONTENTFUL_SPACE_ID=your_space_id
VITE_CONTENTFUL_ACCESS_TOKEN=your_access_token
